*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/


# hidden cross project folders
shared/.js
shared/.jvm

.idea/
.idea_modules/
logs/

/target
/server/src/main/resources/linguistic.jks
/haghard.crt
/server.log
